<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079615600687-16saj31uukuka4g7399uprrl9klkfr7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079615600687-16saj31uukuka4g7399uprrl9klkfr7i</string>
	<key>API_KEY</key>
	<string>AIzaSyDxs92q7hgEihtwro2TqzF0NwIf0IqA67c</string>
	<key>GCM_SENDER_ID</key>
	<string>1079615600687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sphinx</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-app-100e8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-app-100e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079615600687:ios:b725e5815b12e7817f6eda</string>
</dict>
</plist>